<%= link_to 'New post', new_post_path %>


<% if @posts.any? %>
	<% @posts.each do |post| %>
		<ul>
			<li class='post'>
				<h3><%= post.title %></h3>
				<%= image_tag post.picture.url(:medium), class: 'uploaded_image' %>
				<section id='tag-container'>
					<% post.tags.each do |tag| %>
						<%= link_to tag.text, post_path(tag.id) %>
					<% end %>
				</section>
				<h3><em>Posted <%= time_ago_in_words(post.created_at) %> ago</em></h3>
			</li>
		</ul>	
	<% end %>
	<% else %>
	<h3>No posts yet</h3>
<% end %>